# See https://help.github.com/ignore-files/ for more about ignoring files.

# pnpm
pnpm-lock.yaml

# Node modules
node_modules/

# Build output
dist/
build/

# Python
__pycache__/
*.pyc
*.pyo
.env

# Java
target/

# IDEs and Editors
.idea/
.vscode/
*.swp

# Operating System files
.DS_Store
Thumbs.db